<div class="card" *ngIf="files && files.length > 0">
  <p-treetable [value]="files" [columns]="cols" [resizableColumns]="true" columnResizeMode="expand">
      <ng-template #header let-columns>
          <tr>
              <th *ngFor="let col of columns" ttResizableColumn>
                  {{ col.header }}
              </th>
          </tr>
      </ng-template>
      <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
          <tr [ttRow]="rowNode">
              <td *ngFor="let col of columns; let i = index">
                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
                  {{ rowData[col.field] }}
              </td>
          </tr>
      </ng-template>
  </p-treetable>
</div>